<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationKey" value="a325eddf477b6e614e5cb84deef472c1"/>
    <add key="MemberReadToken" value="a0f05ce01f11b4dceb1127e244bdc9c45705d44f3ec1b349f3f4a4c306e20fcf"/>
    <add key="MemberWriteToken" value="c77a54b4eb95a3e5d5a35504e848490cd63e06b627a8e03ec60982dd8e447c4a"/>
  </appSettings>
</configuration>