<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationKey" value="a325eddf477b6e614e5cb84deef472c1"/>
    <add key="MemberReadToken" value="a0f05ce01f11b4dceb1127e244bdc9c45705d44f3ec1b349f3f4a4c306e20fcf"/>
    <add key="MemberWriteToken" value="83fd8988ae4945f24d3a61c31188f3c1979ebe5da660f2cddb0dfc71c7cc2957"/>
  </appSettings>
</configuration>