<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="ExpectedObjects" version="1.1.1" targetFramework="net40" />
  <package id="FakeItEasy" version="1.13.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="RestSharp" version="104.1" targetFramework="net40" />
</packages>